In [5]:
import os
import pandas as pd

In [132]:
folder_path = "statement"

csv_files = [f for f in os.listdir(folder_path) if f.endswith('.csv')]


df_list = []
for file in csv_files:
    file_path = os.path.join(folder_path, file)
    df = pd.read_csv(file_path)
    df_list.append(df)


combined_df["Posted Date"] = pd.to_datetime(combined_df["Posted Date"], format="%m/%d/%Y")
combined_df = pd.concat(df_list, ignore_index=True).sort_values('Posted Date').reset_index(drop = True)

In [137]:
Payee_map = {
    'GEICO': 'Auto: Insurance',
    'AAA CA MEMBERSHIP': 'Auto: Insurance',
    'CHEVRON': 'Auto: Gas',
    'MISSION FUEL': 'Auto: Gas',
    'COSTCO GAS': 'Auto: Gas',
    'CONSERV FUEL': 'Auto: Gas',
    'ARCO': 'Auto: Gas',
    'NEW CENTURY MAZDA': 'Auto: Maintainence',
    'BELLAGIO EXPRESS': 'Auto: Car Wash',
    
    'GOOD FORTUNE SUPERMARKET': 'Grocery: Good Fortune',
    '99 RANCH': 'Grocery: 99 Ranch',
    '7-ELEVEN': 'Grocery: 7-ELEVEN',
    'TARGET': 'Grocery: Target',
    'CVS/PHARMACY': 'Grocery: CVS',
    'COSTCO WHSE': 'Grocery: Costco',
    'COSTCO *ANNUAL RENEWAL': 'Grocery: Costco',
    'H MART': 'Grocery: HMart',
    'LITTLE PEACH MEAT': 'Grocery: Little Peach Meat',
    'VONS': 'Grocery: VONS',
    'GINSENG': 'Grocery: Ginseng',

    'LinkedInPre': 'Study: LinkedIn',
    'UDEMY': 'Study: Udemy',
    'OPENAI': 'Study: ChatGPT',
    'GITHUB': 'Study: GitHub',

    'The UPS Store': 'Logistic: UPS',
    'USPS': 'Logistic: USPS',

    'CITY OF ARCADIA': 'Utility: Water',
    'Spectrum': 'Utility: Web',
    
    'Chun La Hao': 'Restaurant: Hotpot',
    'CHI HUO': 'Restaurant: Hotpot',
    '101 POT': 'Restaurant: Hotpot',
    'KUAN ZHAI ALLEY': 'Restaurant: Sichuan Dish',
    'IN-N-OUT': 'Restaurant: Western Dish',
    'HABIT': 'Restaurant: Western Dish',
    'RAMEN': 'Restaurant: Japanese Dish',
    'TOFU HOUSE': 'Restaurant: Korean Dish',
    'LADY M': 'Restaurant: Desert',
    '85C': 'Restaurant: Desert',
    'SHANGHAILANDER': 'Restaurant: Shanghai Dish',

    'APPLE': 'Other: Apple',
    'HOSPITAL': 'Other: Hospital',
    'HOME DEPOT': 'Other: Home Depot',
    'VCN*LOSANGELESCODPH': 'Other: Baby Certificate',
    'CA SOS BPD LOS ANGELES': 'Other: Baby Certificate',
    'BELLA BABY PHOTOGRAPHY': 'Other: Baby Photo',

    'Online payment': 'Payback: Money',
    'CASH REWARDS STATEMENT CREDIT': 'Payback: Credit'
    
}

In [138]:
for keyword, mapped_value in Payee_map.items():
    combined_df.loc[combined_df["Payee"].str.contains(keyword, case=False, regex=False, na=False), "Mapped_Payee"] = mapped_value

In [139]:
combined_df[combined_df['Mapped_Payee'].isna()]['Payee'].unique()

array(['WL *VUE*Testing Exam 953-6813000 MN',
       'COMP OF MD EST CORP 410-2607980 MD',
       'GOV SVC FEE EST CORP 703-8945000 VA'], dtype=object)

In [140]:
combined_df[combined_df['Mapped_Payee'].isna()]

,Posted Date,Reference Number,Payee,Address,Amount,Mapped_Payee
63,2025-03-18,24906415076224559013115,WL *VUE*Testing Exam 953-6813000 MN,953-6813000 MN,-83.0,NaN
65,2025-03-22,74906415080224906655849,WL *VUE*Testing Exam 953-6813000 MN,953-6813000 MN,83.0,NaN
100,2024-12-20,24073144354900018508243,COMP OF MD EST CORP 410-2607980 MD,410-2607980 MD,-200.0,NaN
101,2024-12-20,24073144354900018407263,GOV SVC FEE EST CORP 703-8945000 VA,703-8945000 VA,-4.9,NaN

In [141]:
combined_df.to_excel("combined_statement.xlsx", index=False)